<!DOCTYPE html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eleka Interview Weather App.</title>
    <link rel="stylesheet" href="../stylesheets/style.css">
  </head>

  <body>
    <div class="container">
      <header>
        <div class="compass-icon"><img src="./images/rainy-sunny.svg" alt="Eleka Interview Weather App Logo"></div>
      </header>
      <div class="weather-title">
        <h1>Eleka App.</h1>
        <p>View the current weather for your city, from wherever you are in the world 😎.</p>
      </div>
      <form action="/" method="POST">
        <input type="text" name="city" class="ghost-input" placeholder="Enter your city">
      </form>

      <div class="result">
        <% if(city !==null) {%>
          <p class="city">
            City: <u><%= city %></u>
            Country: <u><%= country %></u>
          </p>
        <% } %>
        <% if(cityId !==null) {%>
          <p class="city">
            City ID: <u><%= cityId %></u>
          </p>
        <% } %>
        <% if(lat !==null) {%>
          <p class="city">
            Latitude: <u><%= lat %></u>
          </p>
        <% } %>
        <% if(lon !==null) {%>
          <p class="lon">
            Longitude: <u><%= lon %></u>
          </p>
        <% } %>

      </div>
    </div>
  </body>

</html>